releaseVersion: 1.0.0

version: {releaseVersion}.{build}

assembly_info:
  patch: true
  file: AssemblyInfo.cs
  assembly_version: "{releaseVersion}"
  assembly_file_version: "{version}"
  assembly_informational_version: "{releaseVersion}"

platform: Any CPU

configuration: Release

install:
  - cmd: .nuget\NuGet.exe restore Nancy.ServiceRouting.sln

build:
  project: Nancy.ServiceRouting.sln
  verbosity: normal
  publish_nuget: true

artifacts:
  - path: Nancy.ServiceRouting\bin\$(configuration)\*.nupkg

deploy:
  provider: Environment
  name: NuGet Staging
