@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<GreetIndex>
<div id="greetingDemoContainer">
	<p>This is the Greeting Demo.  Stick your name in the box and click the button !</p>
	<input type="text" data-bind="value: name" />
	<input type="radio" name="requestType" value="json" data-bind="checked: requestType" id="requestJson" />
	<label for="requestHtml">Return JSON ?</label>
	<input type="radio" name="requestType" value="html" data-bind="checked: requestType" id="requestHtml" />
	<label for="requestHtml">Return HTML ?</label>
	<button type="button" data-bind="click: greet">Greet !</button>
	<div id="greetingContainer" data-bind="html: greetingContent, css: greetingContentClass"></div>
	<script type="text/javascript">
		<!--
		ko.applyBindings(new Nancy.Demo.ServiceRouting.GreetingIndexViewModel(), $('#greetingDemoContainer')[0]);
		// -->
	</script>
</div>
